.playlist-hdr{
  display: flex;
  flex-direction: row;
}
.img-holder{
  width: 124px;
  height: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-music{
  color: #000;
}
.title-ctr{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title{
  font-size: 24px;
  font-family: 'Roboto-Bold';
  padding: 5px;
}
.sub-title{
  font-family: 'Roboto-Light';
  padding: 5px;
}
.action-ctr{
  display: flex;
}
.add-song-placeholder{
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  align-items: center;
}
.song-list-ctr{
  max-height: 350px;
  overflow: auto;
}

