.main-ctr{
  height: calc(100% - 60px);
} 
.nav-custom{
  margin: 24px;
  border-bottom: none!important;
}
.nav-item{
  font-size: 16px;
}
.nav-item:hover{
  color: #7e7e7e;
  border: none;
  cursor: pointer;
}
.nav-link{
  border : none!important;
}

.row{
  margin : 0!important;
}

.playlist-header{
  font-size: 34px;
  margin: 20px 0 40px 20px;
  font-family: 'Roboto-Light' ;
  font-weight: 600;
  justify-content: space-between;
  display: flex;
}