.modal-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-data{
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  word-spacing: 4px;
}
.page-select{
  height: 40px;
  font-size: 14px;
  font-family: 'Roboto-Medium';
  border: none;
  cursor: pointer;
  margin-top: 5px;
  margin-left : 10px;
}
.wrapper{
  width: 50%;
}