@import "./Roboto/Roboto.css";
html{
  min-height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.primary{
  width: 140px;
  height: 40px;
  background: var(--main-bg-color)!important;
  border-radius: 30px!important;
  margin: 10px;
  border: 1px solid var(--main-bg-color)!important;
  cursor: pointer;
}
.disabled{
  cursor : no-drop;
}
.pointer{
  cursor: pointer;
}

.modal-dialog { 
  max-width : 1024px!important;
}
.modal-title{
  font-size : 24px;
  font-family: 'Roboto-Medium';
}
