.song-card {
  margin: 10px;
  width: 200px;
  position: relative;
}
.img-holder {
  width: 100%;
  height: 134px;
  font-size: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: translateX(-10px);
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-card:hover {
  opacity: 0.8;
  box-shadow: 0 4px 7px 0 rgba(0,0,0,0.2),0 4px 6px 0 rgba(0,0,0,0.19) !important
}

.song-card:hover .middle {
  background-color:var(--main-bg-color);
  opacity: 0.8;
}
.fa-play-circle{
  color: #000;
  cursor: pointer;
}
.content{
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px;
  width: 200px;
  padding: 10px;
}
.content-title{
  font-size: 14px;
  font-family: 'Roboto-Thin';
  font-weight: 700;
  display: inline-block;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
