table {
  border-spacing: 0;
}
.group {
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  font-size: 14px;
  margin-right: 20px;
  font-family: 'Roboto-Bold';
}
.filet-song {
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 0;
  font-family: 'Roboto';
}
th,
td {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto-Thin';
  padding: 6px;
  max-width: 450px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.pagination {
  margin-top: 20px;
}
.pagination button {
  width: 40px;
  height: 40px;
  font-size: 17px;
  border: 1px solid black;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

th {
  font-family: 'Roboto-Medium';
  border-bottom: 1px solid #eee;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-img {
  width: 32px;
  height: 32px;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 50%;
}
.custom-tbl {
  width: 100%;
}
.tbl-ctr {
  margin-top: 10px;
  width: 90%;
}
.table-bdy {
  overflow: auto;
  max-height: 380px;
  margin: 20px 0 10px 10px;
}
.table-row {
  display: flex;
  align-items: center;
  height: 46px;
}

.cell {
  width: 20%;
  max-width: 40%;
  padding: 10px;
  font-size: 14px;
  font-family: 'Roboto-Light';
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.header {
  font-weight: 700;
}
.selector {
  width: 10%;
}
.tbl-small {
  height: 200px;
}

.popup-tbl{
  max-height: 280px!important;
}
