.container {
  margin: 20px;
  width: 100%;
}
.song-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 480px;
  justify-content: center;
}
.pagination {
  justify-content: center;
}
.album-song-list-ctr {
  height: 450px;
  overflow: auto;
}
